<a href="https://colab.research.google.com/github/vasavi2015/Python-New/blob/Module-2/module2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**MODULE 2**

**Create a function which accepts two inputs from the user and compute n
Cr**

In [ ]:

def nCr(n, r):
	return (fact(n) / (fact(r)* fact(n - r)))
def fact(n):
	res = 1
	for i in range(2, n+1):
		res = res * i
	return res
n=(int(input("Enter the value of n= ")))
r=(int(input("Enter the value of r= ")))
print(int(nCr(n, r)))

Enter the value of n= 6
Enter the value of r= 4
15

 **Program to print a specified list after removing the 0th, 4th and 5th elements. 
Sample List : ['Red', 'Green', 'White', 'Black', 'Pink', 'Yellow'] 
Expected Output : ['Green', 'White', 'Black']**

In [ ]:
list=['Red', 'Green', 'White', 'Black', 'Pink', 'Yellow']
unwanted_list = ["Red","Pink","Yellow"]
list= [ele for ele in list if ele not in unwanted_list]
print(list)

['Green', 'White', 'Black']

**Program to get the difference between the two lists**

In [ ]:
a= ["Red","Pink","Yellow"]
x=set(a)
b=['Green', 'Pink', 'Black']
y=set(b)
z=x.difference(y)
diff=list(z)
print(z)

{'Red', 'Yellow'}

**Program to find the second smallest number and second largest number in a list.**

In [ ]:
list=[1,2,4,3]
length=len(list)
list.sort()
print("Second Largest Number:",list[length-2])
print("Second Smallest Number:",list[1])

Second Largest Number: 3
Second Smallest Number: 2

**Given list of tuples, remove all the tuples with length K. 
Input : test_list = [(4, 5), (4, ), (8, 6, 7), (1, ), (3, 4, 6, 7)], K = 2 
Output : [(4, ), (8, 6, 7), (1, ), (3, 4, 6, 7)] 
Explanation : (4, 5) of len = 2 is removed.**

In [ ]:
list = [(4, 5), (4, ), (8, 6, 7), (1, ), (3, 4, 6, 7)]
  
print("list: " + str(list))
K = 2
res = [ele for ele in list if len(ele) != K]
print("New list : " + str(res))

list: [(4, 5), (4,), (8, 6, 7), (1,), (3, 4, 6, 7)]
New list : [(4,), (8, 6, 7), (1,), (3, 4, 6, 7)]

**Program to generate and print a dictionary that contains a number (between 1 
and n) in the form (x, x*x). 
Sample Input: (n=5) : 
Expected Output : {1: 1, 2: 4, 3: 9, 4: 16, 5: 25}**

In [ ]:
n=int(input("Enter number "))
d = dict()
for x in range(1,n+1):
    d[x]=x*x

print(d)

Enter number 5
{1: 1, 2: 4, 3: 9, 4: 16, 5: 25}

**Remove a key from a dictionary.**

In [ ]:
dictionary = {'Vasavi':1,'Varun':2,'Lathi':3}
print(dictionary)
if 'Vasavi' in dictionary: 
    del dictionary['Vasavi']
print(dictionary)

{'Vasavi': 1, 'Varun': 2, 'Lathi': 3}
{'Varun': 2, 'Lathi': 3}

**Program to get the maximum and minimum value in a dictionary.**

In [ ]:
dictionary={'a':34,'b':26,'c':22}
maximum=max(dictionary, key=dictionary.get)
minimum=min(dictionary, key=dictionary.get)
print(dictionary.get(maximum))
print(dictionary.get(minimum))

34
22

**Program to count the number of strings where the string length is 2 or more and 
the first and last character are same from a given list of strings 
x Sample List : ['abc', 'xyz', 'aba', '1221'] Expected Result : 2**

In [ ]:
def words(words):
  ctr = 0

  for word in words:
    if len(word) > 1 and word[0] == word[-1]:
      ctr += 1
  return ctr

print(words(['abc', 'xyz', 'aba', '1221']))

2

**Python function that accepts a string and calculates the number of uppercase  letters and lowercase letters.**

In [ ]:
def LIST(s):
    x={"UPPER CASE":0, "LOWER CASE":0}
    for c in s:
        if c.isupper():
           x["UPPER CASE"]+=1
        elif c.islower():
           x["LOWER CASE"]+=1
        else:
           pass
    print ("INPUT : ", s)
    print ("UPPER CASE : ", x["UPPER CASE"])
    print ("LOWER CASE : ", x["LOWER CASE"])
LIST('My Name Is Vasavi')

INPUT :  My Name Is Vasavi
UPPER CASE :  4
LOWER CASE :  10

**Program to Acronym generator for any user input (ex-input is Random memory access 
then output should be RMA).Example - Random number (RN)**

In [ ]:
# Taking user input 
input = input("Enter a phrase: ")
phrase = (input.replace('of', '')).split()
a = ""
for word in phrase:
    a = a + word[0].upper()
print(f'Acronym of {input} is {a}')

Enter a phrase: My Name Is Vasavi
Acronym of My Name Is Vasavi is MNIV

**Program for replacing one substring by another For example - Rabbit - Replace bb by cc**

In [ ]:
def replace(input, pattern, replaceWith):
    return input.replace(pattern, replaceWith)
if  __name__ == "__main__":
    input   = 'Rabbit'
    pattern = 'bb'
    replaceWith = 'cc'
    print (replace(input,pattern,replaceWith))

Raccit

**Given a list of numbers of list, write a Python program to create a list of tuples 
having first element as the number and second element as the square of the 
number.**

In [ ]:
list = [5, 6, 7, 8, 9, 10]
print("list:")
print(list)
print("Tuple:")
result = [(val, pow(val, 2)) for val in list]
print(result)

list:
[5, 6, 7, 8, 9, 10]
Tuple:
[(5, 25), (6, 36), (7, 49), (8, 64), (9, 81), (10, 100)]

**Program for Counting occurrence of a certain element in a string, getting indexes that 
have matching elements.For ex -.In Rabbit count how many times b has occurred . 
Example-I have to go to a doctor and get myself checked. Count the number of 
occXrrences of**

In [ ]:
def count(x, y) :
    res = 0
    for i in range(len(x)) :
        if (x[i] == y):
            res = res + 1
    return res
string= "Rabbit"
y = 'b'
print(count(string, y))

2